html {
  background-color: #f6f8fa ;
  color: #ffffff;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}

#success {
  color: #007000;
  background-color: #90ee90;
  padding: 4px;
}

.config-wrapper {
  max-width: 600px;
  width: 100%;
  margin: 0 auto 5px;
}

